.site-header{
    background-color: #3fd872;
    color: snow;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #116856 2px 5px 5px;
}

body{
    margin: 0;
}

il {
    color: snow;
}